<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gm.home.member.MemberMapper">

	<!-- 회원가입 -->
	<insert id="setAdd" parameterType="MemberVO">
		INSERT INTO MEMBER
		VALUES(#{id}, #{pw}, #{name}, #{email}, 1)
	</insert>
	
	<!-- 회원 등급 -->
	<!-- 회원가입 시 자동 입력 -->
	<insert id="setRole" parameterType="MemberVO">
		INSERT INTO MEMBER_ROLE
		VALUES(#{id}, 3)
		
		<!-- 강사님 방법 -->
		<!-- INSERT INTO MEMBER_ROLE
      	VALUES(#{id}, 
      		(SELECT * FROM ROLE WHERE roleName = 'ROLE_MEMBER')
      	) -->
	</insert>
	
	<!-- 로그인 -->
	<select id="getLogin" parameterType="String" resultMap="getLoginResult">
		SELECT * 
		FROM MEMBER m
			JOIN 
			MEMBER_ROLE mr
			ON m.id = mr.id
			JOIN
			ROLE r
			ON r.num = mr.num
		WHERE m.id=#{username}
	</select>
	
	<resultMap type="MemberVO" id="getLoginResult">
		<id column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<collection property="roleVOs" javaType="List" ofType="RoleVO" >
			<id column="num" property="num"/>
			<result column="roleName" property="roleName"/>
		</collection>
	</resultMap>
	
	<!-- 아이디 중복확인 -->
	<select id="getIdCheck" parameterType="MemberVO" resultType="Integer">
		SELECT COUNT(id) 
		FROM MEMBER
		WHERE id = #{id}
	</select>
	
</mapper>